.App {
  text-align: center;
}

.landing-logo {
  position: absolute;
  top: 10%;
  display: inline-block;
}

.landing-question {
  position: absolute;
  top: 10%;
  left: 40%;
}

.landing-page-buttons {
  position: absolute;
  top: 55%;
  display: inline-block;
}

.landing-page-forms {
  position: absolute;
  display: inline-block;
  top: -450px;
}

.navigation-container {
  width: 100%;
  margin: auto;
}

.logo {
  margin-top: 50px;
  margin-bottom: 25px;
}

.profile-icon {
  padding-top: 6px;
}

.search-icon {
  padding-top: 6px;
}

.mainPage {
  margin: 60px;
  margin-right: 180px;
  margin-left: 180px;
}

.sidebar {
  clear: both;
}

.squarePhoto {
  max-height: 175px;
  max-width: 175px;
}